<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IMB Watson Studio

**CÃ©sar Luna**<br>
Data Scientist

*I am interested in data science because it can be used to improve industrial production processes.*

### Following code just prints a hello world message

In [1]:
print("Hello world!")

Hello world!

---
* first item
* second item
* third item

1. item one
2. item two
3. item three
4. ~~item four~~
5. ~~item five~~
---
> Table Example

| Items | Column 2 | Column 3 |
| -------- |----------| ---------|
| 1 | Cell 2 | Cell 3 |
| 2 | Cell 2 | Cell 3 |
| 3 | Cell 2 | Cell 3 |